@import "tailwindcss";

html {
  font-size: 90%;
}

/* * {
  outline: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
} */

/* .show-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 114, 128, 1) transparent;
  -ms-overflow-style: auto;
}

.show-scrollbar::-webkit-scrollbar {
  display: block;
} */
