@import "tailwindcss";

* {
  outline: none;
  /* scrollbar-width: 15px; */
  /* -ms-overflow-style: none; */
}

/* *::-webkit-scrollbar {
  display: none;
} */

/* .show-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 114, 128, 1) transparent;
  -ms-overflow-style: auto;
}

.show-scrollbar::-webkit-scrollbar {
  display: block;
} */
